[Unit]
Description=Radarr movie automation
PartOf=media-stack.target

[Container]
Image=lscr.io/linuxserver/radarr:latest
ContainerName=radarr
AutoUpdate=registry
Environment=PUID=1000
Environment=PGID=1000
Environment=UMASK=002
Environment=TZ=Etc/UTC
Volume=/home/luke/media-stack/config/radarr:/config
Volume=/home/luke/data:/data
PublishPort=7878:7878
Network=media-stack.network
NetworkAlias=radarr

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=media-stack.target

[Quadlet]
DefaultDependencies=false
